<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Posts</h1>
    <% for(post of posts)  { %>
    <div class="post">
        <h3>@<%= post.username %></h3>
        <h4><%= post.content %></h4>
        <a href="http://localhost:8080/posts/<%=post.id%>">View</a>
        <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
        <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button>Delete</button>
        </form>
    </div>
    <% } %>
    <a class="add-post-link" href="http://localhost:8080/posts/add">Add Post</a>
</body>
</html>
